In [ ]:
print("hello")

hello

In [ ]:
#math module
import math
print("acos:",math.acos(0.55))
print("acosh:",math.acosh(5))
print(math.asin(0.55))
print(math.asinh(0.55))
print(math.atan(0.55))
print(math.atanh(0.55))
print(math.ceil(12.78))
print(math.factorial(6))
print(math.gcd(3,18))
print(math.pow(4,3))
print(math.degrees(-0.87))
print(math.floor(7.8))
print(math.sqrt(481))
print(math.copysign(4, -1))

0.9884320889261531
2.2924316695611777
0.5823642378687435
0.5254804479785136
0.5028432109278609
0.6183813135744636
13
720
3
64.0
-49.84732817638162
7
21.93171219946131
-4.0

In [ ]:
#abcd... = pow(a,n) + pow(b,n) + pow(c,n) + pow(d,n) + ....
n=int(input("enter n:"))
s = n  # assigning input value to the s variable
b = len(str(n))
sum1 = 0
while n != 0:
    r = n % 10
    sum1 = sum1+(r**b)
    n = n//10
if s == sum1:
    print("The given number", s, "is armstrong number")
else:
    print("The given number", s, "is not armstrong number")

enter n:456
The given number 456 is not armstrong number

In [ ]:
#for loop , no even or odd

In [ ]:
#aa> 75 then grade distinction , agg>=60 aqnd agg<75 "AVERAGE:",avg
name=input("enter your name :")
maths=float(input("enter maths marks:"))
sst=float(input("enter sst marks:"))
sci=float(input("enter science marks:"))
computer=float(input("enter computer marks:"))
t=maths+sst+sci+computer
avg=t/4
if avg>=75:
  print("AVERAGE:",avg,"grade :distinction")
elif avg>=60 and avg<75 :
  print("AVERAGE:",avg,"First division")
elif avg>=50 and avg<60 :
  print("AVERAGE:",avg,"second division")
elif avg>=40 and avg<50 :
  print("AVERAGE:",avg,"third division")
else:
  print("AVERAGE:",avg,"FAIL")

enter your name :nandu
enter maths marks:48
enter sst marks:59
enter science marks:82
enter computer marks:94
AVERAGE: 70.75 First division

In [ ]:
#all leap year in 1900-2100
print("the leap years:\n ")
for i in range(1904,2097,4):
  print(i)

the leap years:

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

In [ ]:
# 20 horizontal stars
for i in range(1,21):
  print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
#multiplication table
n=int(input("enter n :"))
for i in range(1,11):
  print(n,"x",i,"=",i*n)

enter n :2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
#sum of first 10 natuarl numbe4rs
s=0
for i in range(1,11):
  s=s+i
  i=i+1
print(s,"sum of all natural numbers")

55 sum of all natural numbers